*, 
*::before, 
*::after{
    box-sizing: border-box;
}

body{
    background: #fff;
    color: #303030;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

img{
    max-width: 100%;
    display: block;
}

strong{
    font-weight: 900;
}

h1,h2,h3{
    line-height: 1.1;
    margin: 0;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.25rem;
}

h3{
    font-size: 1.25rem;
}

.section__title{
 margin-bottom: .25em;
 text-align: center;
 font-size: 5rem;
}


.section__subtitle{
    margin: 0;
    font-size: 1.25rem;
}

.section-intro{
    display: grid;
    grid-template-areas: 
      "photo .... .... ...."
      "photo banner banner banner"
      "photo .... .... ...."
      ;
}

.section__title--intro{
    font-weight: 300;
}

.section__subtitle--intro{
   grid-area: banner;
}

.section__img--intro{
    grid-area: photo;
}

.section__subtitle--intro,
.section__subtitle--about{
    background: #16e0bd;
    font-family: 'Source Code Pro', monospace;
    padding: 0.25em;
}

.section-my-services__service{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 4fr;
}

h3{
    grid-column-end: span 2;
    padding: 2rem;
    font-size: 4rem;
}

.section-my-services__service--purple{
    background-color: #8a218a;
}

.section-my-services__service--blue{
    background-color: #3aa6d8;
}

.section-my-services__service--yellow{
    background-color: #dada60;
}

p{
    padding: 2rem;
    font-size: 1.5rem;
    color: black;
}

img{
    padding: 2rem;
}

.section-about{
    display: grid;
    grid-template-areas: 
      "side header header"
      "side banner banner"
      "side text text"
      "side text text"
    ;

}

.section__title--about{
    grid-area: header;
}

.section__subtitle--about{
    grid-area: banner;
}

.section__text--about{
    grid-area: text;
}

.section__img--about{
    grid-area: side;
}

.footer{
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}

.footer a{
    color: white;
}

.footer--black{
    background-color: #303030;
}